.block {
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 #dce1e6,0 0 0 1px #e7e8ec;
    margin: 15px 0 0;
    overflow: hidden;
}

.block_transparent {
    border-radius: 4px;
    margin: 15px 0 0;
    /* overflow: hidden; */
}
