.wrapper ul { padding: 0; }

.wrapper li {
    list-style: none;
    font-size: 14px;
    margin-left: -5px;
    border-radius: 4px;
}

.wrapper li:hover { background: rgba(0, 0, 0, 0.05); }

.wrapper svg {
    font-size: 18px;
    margin: 0 12px 0 0;
    opacity: 0.5;
}

.link {
    padding: 5px 0 5px 5px;
    cursor: pointer;
    color: black;
    display: flex;
    align-items: center;
}

.link:hover {
    color: #0f98fb;
    text-decoration: none;
}
