.commonWrapper {
    padding: 12px 16px;
    font-size: 14px;
}

.commonWrapper>div:not(:first-child) { margin-top: 5px; }
.commonWrapper>div:not(:last-child) { margin-bottom: 5px; }

.challengeTitle {
    font-size: 18px;
    font-weight: 600;
}

.timeInfo { opacity: 0.5; }
.noteBody { font-size: 1rem; }

.attachedIcon {
    opacity: 0.5;
    transform: rotate(90deg);
    width: 1.5rem !important;
}
