.bottomActions { opacity: 0.25; }
.bottomActions>span { margin-right: 20px; }
.bottomActions svg {cursor: pointer;}

.userlink {
    color: #0F98FB;
    cursor: pointer;
}

.userlink:hover {
    text-decoration: underline;
}

.timeInfo { opacity: 0.5; }
